ul
    li: a.link(href="index.html" data-replace="Home") 
        span Home
    li: a.link(href="index.html#works" data-replace="Work") 
        span.link-title.title Works
    li: a.link(href="index.html#about" data-replace="About") 
        span.link-title.title About
